@{
    ViewData["Title"] = "Home Page";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content" style="margin-top:18%">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row ">

                <div class="offset- col-lg-2 col-6 col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-info ">
                        <div class="inner mb-2">
                            <h4 class="mb-5">Inventario</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solid fa-box text-light"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="offset- col-lg-2 col-6 col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner mb-2">
                            <h4 class="mb-5">Proveedores</h4>
                        </div>
                        <a href="">
                            <div class="icon">
                                <i class="fas fa-solid fa-truck text-light"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="offset- col-lg-2 col-6 col-md-6" style="">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner mb-2">
                            <h4 class="mb-5">Empleados</h4>
                        </div>
                        <a href="">
                            <div class="icon">
                                <i class="fas fa-solid fa-users text-light"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="offset- col-lg-2 col-6 col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner mb-2">
                            <h4 class="mb-5">Clientes</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solid fa-users text-light"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <!-- ./col -->
                <div class="offset- col-lg-2 col-6 col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner mb-2">
                            <h4 class="mb-5">Ventas</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solid fa-users text-light"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <!-- ./col -->
                <div class="offset- col-lg-2 col-6 col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner mb-2">
                            <h4 class="mb-5">Roles</h4>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solid fa-user-tie text-light"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>